<?xml version='1.0' encoding='utf-8'?>
<widget id="de.unibi.grundschriftmini" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Grundschrift Mini</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="orientation" value="portrait" />
    <engine name="windows" spec="^5.0.0" />
    <engine name="ios" spec="^4.5.4" />
    <engine name="android" spec="~7.0.0" />
    <engine name="browser" spec="~5.0.3" />
    <plugin name="cordova-plugin-camera" spec="^4.0.2" />
    <plugin name="cordova-plugin-device" spec="^2.0.1" />
    <plugin name="cordova-plugin-media" spec="^5.0.2" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-console" spec="^1.1.0" />
</widget>
